@import url(/src/main.css);

@media screen and (width <= 500px) {
  section {
    flex-direction: column;
    justify-content: none;

    > button {
      width: 70%;
      height: 40%;
    }
  }
}

form > div {
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  label {
    width: 40%;
    height: 50%;
  }
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:disabled + label > div {
  background-color: purple;

}
input[type="radio"]:checked + label > div {
  background-color: blue;
}
form label:hover {
  color: red;
  cursor: pointer;
}
