:root {
  --primary-bg-color: #ff9a86;
  --secondary-bg-color: #ffb399;
  --primary-detail-color: #ffd6a6;
  --secondary-detail-color: #fff0be;
}

html,
body {
  margin: 0;
}

input:invalid {
  background-color: red;
}
input:valid {
  background-color: green;
}

form > div {
  /* height: calc(100vh - 100px); */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  label {
    width: 40%;
    height: 50%;
  }
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:disabled + label > div {
  background-color: purple;
}
input[type="radio"]:checked + label > div {
  background-color: blue;
}
form label:hover {
  color: red;
  cursor: pointer;
}
