:root {
  --primary-bg-color: #ff9a86;
  --secondary-bg-color: #ffb399;
  --primary-detail-color: #ffd6a6;
  --secondary-detail-color: #fff0be;
}

html,
body {
  margin: 0;
}

@media screen and (width <= 500px) {
  section {
    flex-direction: column;
    justify-content: none;

    > button {
      width: 70%;
      height: 40%;
    }
  }
}

form > div {
  /* height: calc(100vh - 100px); */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  label {
    width: 40%;
    height: 50%;
  }
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:disabled + label > div {
  background-color: purple;
}
input[type="radio"]:checked + label > div {
  background-color: blue;
}
form label:hover {
  color: red;
  cursor: pointer;
}

/* Game Board */
.winner-Circle {
  background-color: red !important;
}
.winner-Cross {
  background-color: green !important;
}
#gameBoard {
  flex: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  background: black;

  > button {
    flex: 0;
    min-width: 200px;
    max-width: 1/5;
    aspect-ratio: 1/1;
    border: 0;
    background-color: white;

    font-size: 140px;
    letter-spacing: 0;
  }
  > button:hover {
    background-color: gainsboro;
  }
  > button:active {
    background-color: gainsboro;
    filter: brightness(85%);
  }
  > button:disabled {
    background-color: brown;
  }
}
